{
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {"legacy": true}
    ],
    "@babel/plugin-proposal-optional-chaining"
  ],
  "presets": [
    "@babel/env",
    "@babel/preset-react"
  ]
}
